<div class="width">
  <div class="header">
    <span class="header-text">Account</span>
  </div>
  <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{accountService.userData?.displayName}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button mat-button color="primary" (click)="logout()">LOGOUT</button>
  </mat-expansion-panel>
  <div class="spacer"></div>
  <div class="header">
    <span class="header-text">Lists</span>
    <div style="flex:1"></div>
    <button mat-raised-button id="button" color="primary" (click)="navList()">NEW LIST</button>
  </div>
  <div id="lists">
    <div class="list-item" *ngFor="let list of listObservable | async" (click)="navList(list)">
      <span class="list-name">{{list.name}}</span>
      <span class="list-added">{{list.type}}</span>
      <span class="list-added full-screen">{{getDate(list)}}</span>
    </div>
  </div>
</div>