<form id="form" (ngSubmit)="submitForm()" #form="ngForm">
  <div id="toolbar">
    <button mat-icon-button (click)="accountService.close()"><mat-icon id="icon">arrow_back</mat-icon></button>
  </div>
  <div id="width">
    <div id="title">Create a new Event</div>
    <mat-button-toggle-group id="select" name="applicantTypes" [(ngModel)]="list.type">
      <mat-button-toggle [value]="'wedding'">Wedding</mat-button-toggle>
      <mat-button-toggle [value]="'party'">Party</mat-button-toggle>
      <mat-button-toggle [value]="'event'">Event</mat-button-toggle>
    </mat-button-toggle-group>
    <div class="tab" [ngSwitch]="list.type">
      <ng-container *ngSwitchCase="'wedding'">
        <mat-form-field>
          <input matInput type="text" required name="name" placeholder="who's getting hitched?" [(ngModel)]="list.name">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="date" required name="date" placeholder="wedding date" [(ngModel)]="list.date">
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'party'">
        <mat-form-field>
          <input matInput type="text" required name="name" placeholder="name of the party" [(ngModel)]="list.name">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="date" required name="date" placeholder="party date" [(ngModel)]="list.date">
        </mat-form-field>
      </ng-container>
      <ng-container *ngSwitchCase="'event'">
        <mat-form-field>
          <input matInput type="text" required name="name" placeholder="name of the event" [(ngModel)]="list.name">
        </mat-form-field>
        <mat-form-field>
          <input matInput type="date" required name="date" placeholder="event date" [(ngModel)]="list.date">
        </mat-form-field>
      </ng-container>
      <mat-form-field>
        <input matInput type="date" required name="linkDate" placeholder="last day for guests to register" [(ngModel)]="list.linkDate">
      </mat-form-field>
    </div>
    <div id="registry">
      <div class="info">Add your registry url here and all your guests will have direct access to the things you need.</div>
      <mat-form-field>
        <mat-placeholder><img class="placeholder" src="assets/target.png"> target url</mat-placeholder>
        <input matInput name="target" type="text" [(ngModel)]="list.targetUrl">
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder><img class="placeholder" src="assets/amazon.png"> amazon url</mat-placeholder>
        <input matInput name="amazon" type="text" [(ngModel)]="list.amazonUrl">
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder><img class="placeholder" src="assets/walmart.png"> walmart url</mat-placeholder>
        <input matInput name="amazon" type="text" [(ngModel)]="list.walmartUrl">
      </mat-form-field>
      <mat-form-field>
        <mat-placeholder><img class="placeholder" src="assets/zola.svg"> zola url</mat-placeholder>
        <input matInput name="amazon" type="text" [(ngModel)]="list.zolaUrl">
      </mat-form-field>
    </div>
    <button mat-raised-button [disabled]="!form.form.valid" color="primary" type="submit">CREATE</button>
  </div>
</form>